/* Perfect DOS VGA 437 font by Zeh Fernando, free to use */
/* https://www.dafont.com/perfect-dos-vga-437.font */
@font-face {
    font-family: dos-font;
    src: url("Perfect DOS VGA 437.ttf");
}

:root {
    --background: #a9a9a9;
    --foreground: #000000;
    --header-foreground: var(--accent);
    --accent: #0300a9;
    --active: white;
}

body{
    background-color: var(--background);
/*     cursor: none; */
    font-family: dos-font, monospace;
    font-size: 32px;
    color: var(--foreground);
    margin: 0;
}

p {
    margin: 0;
    select: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3 {
    font-size: inherit;
    margin: inherit;
    font-weight: inherit;
}

h1 {
    color: var(--active);
    text-align: center;
}

h2 {
    display: none;
}

h3 {
    color: var(--header-foreground);
    display: inline;
}

.flex-container {
    display: flex;
}

.flex-container.horizontal {
    flex-direction: row;
}

.flex-container.vertical {
    flex-direction: column;
}

#everything {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#header, #footer {
    background-color: var(--accent);
    overflow-x: hidden;
    white-space: nowrap;
}

#screen {
    margin: 16px 4px;
    flex-grow: 1;
}

#pages, #help-pane {
    border: solid 4px var(--foreground);
    padding: 16px;
    box-sizing: border-box;
}

#pages {
    flex-grow: 1;
}
    
#help-pane {
    width: 200px;
    border-left: none;
}

.active {
    color: var(--active);
}

.tab {
    color: var(--background);
    display: inline-block;
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    display: inline;
}

.tab.selected {
    background-color: var(--background);
    color: var(--accent);
}

.tab.selected.active {
    color: var(--active);
}
